body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}
.header-logo, .header-name {
	width: 50%;
}

@media screen and (max-width: 991px) {
	.col-md-4, .header_name {
		text-align: left;
	}
}